ADMIN_NAME="ktauth"
ADMIN_PASSWD="ktauth"
JWT_SECRET="ktauthsecret"

# uncomment to disable ratelimit
# ENABLE_RATELIMIT="NO"
# limit per minute
RATELIMIT=60

ABUSELIMIT=100
# minutes
ABUSEWINDOW=5

# debug/info/warn/error
LOGLEVEL=error